<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
<h1>Cadastro de Eventos</h1>

<form action="cadastrar" method="POST">

    <label>Nome: </label>
    <input type="text" name="nome"> <br><br>

    <label>Sinopse: </label>
    <textarea name="sinopse" id="" cols="30" rows="10"></textarea><br>

    <label>link imagem: </label>
    <input type="text" name="imagem"><br><br>

    <label>Genero: </label>
    <select name="genero">
        <option value="slam">Slam</option>
        <option value="hip-hop">Hip-Hop</option>
        <option value="show">Show</option>
        <option value="batalhaDeRimas">Batalha de Rimas</option>
    </select><br>

    <label>Data: </label>
    <input type="text" name="dataEvento"> <br><br>

    <label>Inicio do Evento: </label>
    <input type="text" name="horaInicio"> <br><br>

    <label>Fim do Evento : </label>
    <input type="text" name="horaFim"> <br><br>

    <label>Criador: </label>
    <input type="text" name="criador"> <br><br>

    <label>Colaboradores: </label>
    <input type="text" name="colaboradores"> <br><br>

    <label>Rua: </label>
    <input type="text" name="rua"><br>

    <label>Estado: </label>
    <input type="text" name="estado"><br>

    <label>Bairro: </label>
    <input type="text" name="bairro"><br>

    <label>Numero: </label>
    <input type="text" name="numero"><br>

    <button>Cadastrar</button>
</form>

</body>
</html>