<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filme</title>
</head>
<body>
<h1>Evento por Nome</h1>

<div>
    <div>
        <p><strong>Nome:</strong> <span th:text="${evento.nome}"></span></p>
        <p><strong>Criador:</strong> <span th:text="${evento.criador}"></span></p>
        <p><strong>Genero:</strong> <span th:text="${evento.genero}"></span></p>
        <p><strong>Descrição:</strong> <span th:text="${evento.descricao}"></span></p>
        <p><strong>Data do Evento:</strong> <span th:text="${evento.dataEvento}"></span></p>
        <p><strong>Rua:</strong> <span th:text="${evento.rua}"></span></p>
        <p><strong>Estado:</strong> <span th:text="${evento.estado}"></span></p>
        <p><strong>Bairro:</strong> <span th:text="${evento.bairro}"></span></p>
        <p><strong>Numero:</strong> <span th:text="${evento.numero}"></span></p>
        <p><strong>Horario de Inicio:</strong> <span th:text="${evento.horaInicio}"></span></p>
        <p><strong>Horario de Fim</strong> <span th:text="${evento.horaFim}"></span></p>
        <p><strong>Criador:</strong> <span th:text="${evento.criador}"></span></p>
        <p><strong>Colaboradores:</strong><span th:text="${evento.colaboradores}"></span></p>
        <p><strong>Data de Criação:</strong> <span th:text="${evento.dataCriacao}"></span></p>


    </div>
</div>
</body>
</html>